<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Inventory</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Check Out Items
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="suppliers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Suppliers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stock">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Stock
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Orders
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="whattoorderreport">
                <span class="oi oi-list-rich" aria-hidden="true"></span> What To Order Report
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projectreport">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Project Report
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="storemanagerreport">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Store Manager Report
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}