@page "/orders"
@using CMPG223.Controllers
@using CMPG223.Dtos
@using CMPG223.Models
@inject OrderController _orderController




<h3>Orders</h3>

@if (_orders == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div style="float:right;">
        <label>Search</label>
        <input @bind="SearchText" />
    </div>

    @if (!_noUpdate)
    {
        @if (_success)
        {
            <MudAlert Severity="Severity.Success" Variant="Variant.Filled">Database Updated</MudAlert>
        }
        else
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled">Unable To Save To Database</MudAlert>
        }
    }



<table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Number</th>
                <th>Date Requested</th>
                <th>Date Received</th>
                <th>Requested By</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var st in _orders)
            { 
            <tr>
                <td>
                    @st.OrderId
                </td>
                <td>
                    <input @bind="st.OderNumber" />
                </td>
                <td>
                    <input type="date" value="@st.DatePlaced" />
                </td>
                <td>
                    <input type="date" value="@st.DateRecieved" />
                </td>
                <td>
                    <input @bind=" st.PlacedById" />
                </td>
                <td>
                    <MudButton @onclick="@(() => Edit(st))" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
                </td>
            </tr>
            }

            <h3>Add New Order</h3>
            <tr>
                <td>
                    <input @bind="_newOrder.OrderId" />
                </td>
                <td>
                    <input @bind="_newOrder.OderNumber" />
                </td>
                <td>
                    <input type="date" value="" />
                </td>
                <td>
                    <input type="date" value="" />
                </td>
                <td>
                    <input @bind="_newOrder.PlacedById" />
                </td>
            </tr>

        </tbody>

    </table>
}

@code {
    private string _searchText;
    private string SearchText
    {
        get => _searchText;
        set
        {
            //  FilterOrder(value);
            _searchText = value;
        }
    }


    bool _noUpdate = true;
    bool _success;
    private OrderDto _newOrder = new();
    private OrderDto SelectedOrder { get; set; }

    private List<OrderDto> _orders;

    protected override async Task OnInitializedAsync()
    {

        _orders = await _orderController.GetAllOrders();

    }
    async Task Edit(OrderDto order)
    {
        SelectedOrder = order;
        var success = await _orderController.UpdateOrder(SelectedOrder);
        await FinishUpdate((success));
    }
    private async Task FinishUpdate(bool success)
    {
        _noUpdate = false;
        _success = success;

        if (success)
            _orders = await _orderController.GetAllOrders();
    }



}