@page "/whatToOrderReport"
@using CMPG223.Controllers
@using CMPG223.Dtos
@inject IStockController _stockController

<div id="pint_div">
    <div style="float:right;">
        <label>Date: </label>
        <label>@Date </label>
    </div>
    <h3>Order Report</h3>
</div>

<div id="report data">
    <table class="table">
        <thead>
            <tr>
                <th>Description  </th>
                <th>Quatity to Order  </th>
                <th>Supplier  </th>
            </tr>
        </thead>

        @foreach (var stock in _acctiveStockToOrder)
         {
            <tbody>
                <tr>
                    <td>
                        <label> @stock.Description </label>
                    </td>
                    <td>
                        <label> @(stock.MaxQty-stock.CurrentQty) </label>
                    </td>
                    <td>
                        <label> @stock.SupplierDto.Name </label>
                    </td>
                </tr>
            </tbody>

         }
    </table>
</div>

<button>Print</button>


@code {

    private List<SupplierDto> _suppliers = new List<SupplierDto>();
    private List<StockDto> _acctiveStockToOrder = new List<StockDto>();

    string Date = DateTime.Now.ToString("d");

    protected override async Task OnInitializedAsync()
    {
        _suppliers = await _stockController.GetActiveSuppliers();
        _acctiveStockToOrder = await _stockController.GetStockToOrder();
    }
}